@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<div class="container row">
    <div class="col-sm-6">
        <h2 class="text-info">Teacher List</h2>
    </div>
    <div class="col-sm-6 text-right">
        <a asp-page="Add" class="btn btn-primary">Add New Teacher</a>
    </div>
</div>
<br />
@if (Model.Message != null)
{
    <div class="alert alert-dismissible alert-info alert-autoclose" role="alert">
        <button type="button" class="close" aria-label="close" data-dismiss="close">
            <span aira-hidden="True">&times</span>
            @Model.Message
        </button>
    </div>
}
<br />
@if (Model.Teachers.Count() > 0)
{
    <form method="post">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Teachers.FirstOrDefault().FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Teachers.FirstOrDefault().LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Teachers.FirstOrDefault().Instrument)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.Teachers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Instrument)
                    </td>
                    <td class="text-center">
                        <button type="submit" class="btn btn-sm btn-danger" asp-route-id="@item.id" asp-page-handler="Delete" onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
                        <a asp-page="Edit" asp-route-id="@item.id" class="btn btn-sm btn-success">Edit</a>
                    </td>
                </tr>
            }
        </table>
    </form>
}
